@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply relative h-full min-h-screen;
  }
}

/* slider styles */

.mySwiper.mySwiperRegular .swiper-button-prev {
  left: auto;
  right: 52px;
}
.mySwiper.mySwiperRegular .swiper-button-next {
  right: 0;
}
.mySwiper.mySwiperReversed .swiper-button-prev {
  left: 0;
}
.mySwiper.mySwiperReversed .swiper-button-next {
  left: 52px;
  right: auto;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: black;
  font-weight: bold;
  border: 4px solid;
  width: 42px;
  height: 42px;
  top: 0px;
  margin-top: 0px;
  transition: background 250ms ease-in;
}

.mySwiper .swiper-button-next:before,
.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:before,
.mySwiper .swiper-button-prev:after {
  content: "";
  width: 16px;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: background-color 250ms ease-in;
}

.mySwiper .swiper-button-next:before,
.mySwiper .swiper-button-next:after {
  right: 8px;
}
.mySwiper .swiper-button-prev:before,
.mySwiper .swiper-button-prev:after {
  left: 8px;
}
.mySwiper .swiper-button-prev:before,
.mySwiper .swiper-button-next:before {
  transform: rotate(45deg);
  top: 10px;
}

.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  transform: rotate(-45deg);
  bottom: 10px;
}
.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  transform: rotate(-45deg);
  bottom: 12px;
}
.mySwiper .swiper-button-prev:before {
  transform: rotate(-45deg);
}
.mySwiper .swiper-button-prev:after {
  transform: rotate(45deg);
}

.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-next:focus,
.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-prev:focus {
  background-color: black;
  transition: background-color 250ms ease-in;
}

.mySwiper .swiper-button-next:hover:before,
.mySwiper .swiper-button-next:focus:before,
.mySwiper .swiper-button-prev:hover:before,
.mySwiper .swiper-button-prev:focus:before,
.mySwiper .swiper-button-next:hover:after,
.mySwiper .swiper-button-next:focus:after,
.mySwiper .swiper-button-prev:hover:after,
.mySwiper .swiper-button-prev:focus:after {
  background-color: white;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.1;
  background-color: none;
}

.mySwiper .swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 0;
  opacity: 0.1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (min-width: 370px) {
  .mySwiper.mySwiperRegular .swiper-button-prev {
    left: auto;
    right: 60px;
  }
  .mySwiper.mySwiperReversed .swiper-button-next {
    left: 60px;
    right: auto;
  }
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .mySwiper .swiper-button-next:before,
  .mySwiper .swiper-button-next:after,
  .mySwiper .swiper-button-prev:before,
  .mySwiper .swiper-button-prev:after {
    width: 24px;
  }
  .mySwiper .swiper-button-next:before,
  .mySwiper .swiper-button-next:after {
    right: 8px;
  }
  .mySwiper .swiper-button-prev:before,
  .mySwiper .swiper-button-prev:after {
    left: 8px;
  }
  .mySwiper .swiper-button-prev:before,
  .mySwiper .swiper-button-next:before {
    top: 12px;
  }
  .mySwiper .swiper-button-next:after,
  .mySwiper .swiper-button-prev:after {
    bottom: 12px;
  }
}

@media (min-width: 1280px) {
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
}
